.Person{
    width: 60%;
    margin: 16px auto;
    border: 2px blue solid;
    background-color: orange;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    padding: 20px;
    

}
button{
    border: 1px blue solid;
    background: transparent;
    background-color: orangered;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    width: 120px;
    height: 50px;
    padding: 2px;
    margin: 5px 10px 5px 5px;
    text-decoration: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
.Person input[type=text] {
    width: 65%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    text-transform: capitalize;
    
    
}


button:hover{
    background-color: red;
    color: white;
}
